Chris - DevOrg/src/flows/Flow_Update_Project_Resource_Est_Remaining_Hours-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <description>Represents the value of 0</description>
        <name>Zero</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Does_the_Project_Resource_Exist</name>
        <label>Does the Project Resource Exist?</label>
        <locationX>229</locationX>
        <locationY>341</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Project_Resource_ID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Project_Resource_Est_Remaining_Hours</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Project_Resource_ID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Project_Resource</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>Flow Update Project Resource Est Remaining Hours {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Update Project Resource Est Remaining Hours</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Project_Resource</name>
        <label>Create Project Resource</label>
        <locationX>444</locationX>
        <locationY>343</locationY>
        <inputAssignments>
            <field>Estimated_Hours_Remaining__c</field>
            <value>
                <elementReference>varNewEstimatedHoursRemaining</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Hours__c</field>
            <value>
                <elementReference>Zero</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person__c</field>
            <value>
                <elementReference>varTimeCardCreatedBy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Resource__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Info_for_TimeCard</name>
        <label>Find Info for TimeCard</label>
        <locationX>226</locationX>
        <locationY>128</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Project_Resource_ID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTimeCardID</elementReference>
            </value>
        </filters>
        <object>Time_Card__c</object>
        <outputAssignments>
            <assignToReference>varTimeCardCreatedBy</assignToReference>
            <field>CreatedById</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNewEstimatedHoursRemaining</assignToReference>
            <field>Estimated_Hours_Remaining__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProjectID</assignToReference>
            <field>Project__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Project_Resource_ID</name>
        <label>Find Project Resource ID</label>
        <locationX>231</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_the_Project_Resource_Exist</targetReference>
        </connector>
        <filters>
            <field>Person__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTimeCardCreatedBy</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </filters>
        <object>Project_Resource__c</object>
        <outputAssignments>
            <assignToReference>varProjectResourceID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_Resource_Est_Remaining_Hours</name>
        <label>Update Project Resource Est Remaining Hours</label>
        <locationX>230</locationX>
        <locationY>454</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectResourceID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estimated_Hours_Remaining__c</field>
            <value>
                <elementReference>varNewEstimatedHoursRemaining</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Resource__c</object>
    </recordUpdates>
    <startElementReference>Find_Info_for_TimeCard</startElementReference>
    <textTemplates>
        <description>The body of the email going to the Project owner</description>
        <name>NewProjectResourceBody</name>
        <text>Someone has submitted a time card that included time against a project they have not been previously assigned to.</text>
    </textTemplates>
    <textTemplates>
        <description>Subject of the email going to Project owner when a new resource is added as a result of a timecard entered when they were not originally estimated to have any time on the project</description>
        <name>ProjectResourceSubjectText</name>
        <text>New Project Resource Added</text>
    </textTemplates>
    <variables>
        <name>varNewEstimatedHoursRemaining</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Project ID for a TimeCard</description>
        <name>varProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProjectResourceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTimeCardCreatedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTimeCardID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
