Chris - DevOrg/src/flows/Flow_Update_Project_Resource_Est_Remaining_Hours-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Flow Update Project Resource Est Remaining Hours {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Update Project Resource Est Remaining Hours</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Info_for_TimeCard</name>
        <label>Find Info for TimeCard</label>
        <locationX>226</locationX>
        <locationY>128</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Project_Resource_ID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTimeCardID</elementReference>
            </value>
        </filters>
        <object>Time_Card__c</object>
        <outputAssignments>
            <assignToReference>varTimeCardCreatedBy</assignToReference>
            <field>CreatedById</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNewEstimatedHoursRemaining</assignToReference>
            <field>Estimated_Hours_Remaining__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProjectID</assignToReference>
            <field>Project__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Project_Resource_ID</name>
        <label>Find Project Resource ID</label>
        <locationX>231</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Project_Resource_Est_Remaining_Hours</targetReference>
        </connector>
        <filters>
            <field>Person__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTimeCardCreatedBy</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </filters>
        <object>Project_Resource__c</object>
        <outputAssignments>
            <assignToReference>varProjectResourceID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_Resource_Est_Remaining_Hours</name>
        <label>Update Project Resource Est Remaining Hours</label>
        <locationX>232</locationX>
        <locationY>349</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectResourceID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estimated_Hours_Remaining__c</field>
            <value>
                <elementReference>varNewEstimatedHoursRemaining</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Resource__c</object>
    </recordUpdates>
    <startElementReference>Find_Info_for_TimeCard</startElementReference>
    <variables>
        <name>varNewEstimatedHoursRemaining</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Project ID for a TimeCard</description>
        <name>varProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProjectResourceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTimeCardCreatedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTimeCardID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
